
<body class = "image">
    <button class="btn btn-md btn-social btn-facebook fb" style="width: 18%;left:700px;top:34px" (click)="onFacebookLoginClick()">
        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
    </button> 
    <button class="btn btn-block btn-social btn-google" style = "width: 18%;left:950px" id='google-signin'>
      <span class="fa fa-google"></span>Login with Google </button>

    <p class = "name" style="text-align:center;margin-top:50px"> INTERFICIO </p> 
    <p class = "tag" style="text-align:center;margin-top: 20px"> For the night is dark and full of terrors ! </p>
    <embed style="width: 1%" src="src/assets/got_audio.mp3" autostart=true loop=true>
</body>
