<body>
<md-sidenav-layout style = "height:100%;">
  <md-sidenav #sidenav mode="side" [opened]="false" class="app-sidenav sidebar">
    <md-list>
      <md-list-item class="avatar-list">
        <img style="margin-top: 80px" src="src/assets/img/AavishkarLogo.jpg" class="md-avatar main-avatar" alt="User Name"/>
      </md-list-item>
      <md-list-item >
        <strong class="header">  {{name}} </strong>
      </md-list-item>
      </md-list>
      <md-list style="cursor:pointer">
      <md-divider></md-divider>
      <md-list-item (click) = "text(1)" >
        <a class="list-color" routerLink="instruction"> Instruction </a> 
      </md-list-item>
      <md-list-item (click) = "text(2)" >
        <a class="list-color"> Questions </a>
      </md-list-item>
      <md-list-item (click) = "text(3)" >
        <a class="list-color" routerLink="leaderboard"> Leaderboard  </a>
      </md-list-item>
       <md-list-item >
          <div class="list-color" (click) = "logout()"> Logout </div>
      </md-list-item>
      </md-list>
  </md-sidenav>

  <md-toolbar class="list-color" color="primary" style = "background-color:black" >
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
     <div> {{ header }} </div>
     <!--<div class="log-out" (click) = "logout()"> Logout </div>-->

    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="app-content app">
    <router-outlet>

    </router-outlet>
  </div>


</md-sidenav-layout>
</body>